:host {
    display: flex;

    .relative {
        position: relative;
        flex: 1;
        min-width: 0;
    }

    vi-select {
        border: none;
    }

    span, vi-select::part(input) {
        color: var(--vi-persistent-object-attribute-foreground, var(--theme-foreground));
    }

    #add {
        background-color: var(--color);

        vi-icon {
            fill: white !important;
        }

        &:before {
            border-left-color: var(--color);
        }
    }
}