$min-main-width: 400px;

:host {
    --vi-persistent-object-dialog-base-width-base: #{$min-main-width};

    header {
        padding: 0 var(--theme-h4);
        line-height: 4em;
    }

    main {
        display: flex;
        flex-direction: column;
        padding: 0;

        > h4 {
            display: block;
            padding: 0 var(--theme-h4);
            font-weight: normal;
            border-bottom: 1px solid var(--theme-light-border);
            margin: 0;
            line-height: 3em;
        }

        > vi-persistent-object-tab-presenter {
            flex: 1;
            min-height: 0;
            min-width: 0;
            display: flex;
            flex-direction: column;
            padding: var(--theme-h5) 0;

            > vi-persistent-object-tab {
                position: static;
            }
        }
    }

    &[is-phone] main {
        width: 85vw;
    }

    &[is-tablet], &[is-desktop] {
        main {
            min-width: $min-main-width;
            max-width: var(--vi-persistent-object-dialog-computed-width);
        }
    }
}