header {
    display: flex;
    flex-direction: row;
    align-items: center;

    h4 {
        flex: 1;
        min-width: 0;
    }
}

vi-input-search {
    line-height: var(--theme-h2);
    height: var(--theme-h2);
    border: 1px solid #EAEAEA;
    box-sizing: border-box;

    &::part(input) {
        color: #333;

        &:focus {
            background-color: white;
        }
    }
}

main {
    min-width: min(var(--vi-select-reference-dialog--content-width, 0px), 90vw);
    max-width: 90vw;

    vi-query-grid {
        height: 75vh;
    }
}

footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

:host([is-phone]) {
    main vi-query-grid {
        width: 85vw;
    }
}

:host([is-tablet]) {
    main vi-query-grid {
        width: 90vw;
    }
}

:host([is-desktop]) {
    main vi-query-grid {
        width: 75vw;
    }
}
