:host {
    display: flex;
    overflow: hidden;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    pre {
        padding-top: var(--theme-h5);
        line-height: normal !important;
    }

    span, pre, input, textarea {
        color: var(--vi-persistent-object-attribute-foreground, var(--theme-foreground));
    }

    input.flex {
        flex: 1;
        min-width: 0;
    }

    vi-scroller.fit {
        position: absolute;
        inset: 0;
    }

    &[multiline] {
        #multiline {
            overflow: hidden;
            padding: var(--theme-h5) var(--theme-h5) 0 var(--theme-h5);
        }

        button {
            background-color: white;
        }
    }
}