@import "../../../_vars.scss";

:host {
    @include layout-horizontal();
    @include relative();

    input, vi-select::part(input) {
        color: var(--vi-persistent-object-attribute-foreground, var(--theme-foreground));
    }

    vi-select::part(icon) {
        display: none;
    }

    &:not([editing]) {
        overflow: hidden;

        a {
            @include layout-horizontal();
            text-decoration: none;
            color: var(--vi-persistent-object-attribute-foreground, var(--theme-color));
            fill: var(--vi-persistent-object-attribute-foreground, var(--theme-color));
            overflow: hidden;
            text-overflow: ellipsis;

            &:focus {
                outline: 0;
            }

            &:visited {
                color: var(--vi-persistent-object-attribute-foreground, var(--theme-color));
                fill: var(--vi-persistent-object-attribute-foreground, var(--theme-color));
            }

            &:hover {
                color: var(--vi-persistent-object-attribute-foreground, var(--theme-color-light));
                fill: var(--vi-persistent-object-attribute-foreground, var(--theme-color-light));
            }

            &[disabled] {
                color: var(--vi-persistent-object-attribute-foreground, #333) !important;
            }

            span {
                text-overflow: ellipsis;
                overflow: hidden;
            }

            vi-icon {
                margin: 0 var(--theme-h5);
                min-width: var(--theme-h4);
                height: 1em;
                fill: var(--theme-color);
                transform: translateY(2px);
            }
        }
    }

    &[read-only] {
        a {
            background-color: var(--theme-read-only);
        }
    }

    &[editing] {
        vi-select {
            border: none;

            vi-popup > #content {
                transform: translateY(1px);
            }
        }

        a {
            &[disabled] {
                display: none;
            }

            vi-icon {
                height: 100%;
            }
        }
    }

    #radiobuttons {
        line-height: var(--theme-h2);

        &[orientation="horizontal"] {
            @include layout-horizontal();
            @include layout-wrap();
        }
    }
}