$border-color: #eee;

:host {
    display: block;
    user-select: none;

    &:hover vi-popup[open], vi-popup[hover] {
        [slot="header"] {
            background-color: var(--color) !important;
            --vi-icon-fill: white !important;
        }
    }

    .header {
        display: flex;
        flex-direction: row;
        color: white;
        fill: white;
        background-color: var(--color);

        vi-button {
            text-align: center;
            height: var(--theme-h2);
            min-width: var(--theme-h2);
            line-height: var(--theme-h2);
            cursor: pointer;

            > vi-icon {
                height: var(--theme-h2);
                --vi-icon-fill: white;
            }

            &:hover {
                background-color: var(--color-light);
            }

            &.header-label {
                flex: 1;
                min-height: 0;
                min-width: 0;
            }
        }
    }

    .main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: calc(var(--theme-h1) * 7);
        height: calc(var(--theme-h1) * 7);

        .cell {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-style: solid;
            border-width: 0 0 1px 1px;
            border-color: var(--color-faint);
            box-sizing: border-box;
            cursor: pointer;
            position: relative;

            &[type$="day"] {
                min-width: var(--theme-h1);
                min-height: var(--theme-h1);
                line-height: var(--theme-h2);
                width: var(--theme-h1);
            }

            &[type="day"] {
                &[is-other] {
                    color: #AAA;

                    &:hover {
                        background-color: #eee;
                    }

                    &[is-today] {
                        color: white;
                        background-color: #bbb;

                        &:hover {
                            background-color: #aaa;
                            color: var(--color);
                        }
                    }
                }
            }

            &[type="weekday"] {
                font-weight: bold;
                color: #333 !important;
                cursor: default;

                &:hover {
                    background-color: transparent !important;
                }
            }

            &:not([is-other]) {
                color: var(--color);

                &:hover {
                    background-color: var(--color-faint);
                }

                &[is-today] {
                    color: white !important;
                    background-color: var(--color-light);

                    &:hover {
                        background-color: var(--color-lighter);
                    }
                }
            }

            &[is-selected]:not([blocked]) {
                &::before, &::after {
                    position: absolute;
                    right: 0;
                    top: 0;
                    content: "";
                }

                &::before {
                    z-index: 2;
                    bottom: 0;
                    left: 0;
                    border: 1px solid var(--color);
                }

                &[is-other]::before {
                    border-color: #777 !important;
                }

                &[is-other]::after {
                    border-top-color: #777 !important;
                }

                &::after {
                    z-index: 1;
                    border-left: var(--theme-h4) solid transparent;
                    border-top-color: var(--color);
                    border-top-width: var(--theme-h4);
                    border-top-style: solid;
                }

                &[is-today]::after {
                    border-top-color: white !important;
                }
            }

            &[type$="month"], &[type$="year"] {
                width: calc(100% / 3);
            }

            &[blocked] {
                color: #dedede !important;
                cursor: default !important;

                &:hover {
                    background-color: transparent !important;
                }
            }
        }
    }
}
