@import "../_vars.scss";

:host {
    @include layout-horizontal();
    @include flex();
    @include relative();
    line-height: var(--theme-h2);

    fieldset {
        margin: 0;
        padding: 0;
        border: none;
    }

    .box {
        @include layout-horizontal();
        @include layout-justified();
        background-color: white;
        min-height: calc(var(--theme-h2) - 2px);
        line-height: calc(var(--theme-h2) - 2px);
        border: 1px solid var(--theme-light-border);
    }

    &[read-only] {
        .box {
            background-color: var(--theme-read-only);
        }

        .box {
            .buttons {
                background-color: transparent;
            }
        }
    }

    &[has-error] {
        .box {
            border-color: var(--theme-color-error) !important;
            overflow: hidden;

            &::before {
                @include fit();
                content: " ";
                opacity: 0.05;
                background-color: var(--theme-color-error);
                pointer-events: none;
            }
        }
    }

    fieldset[disabled] {
        .box {
            background-color: #eee;

            .buttons {
                background-color: #eee;
                pointer-events: none;

                ::slotted(*) {
                    opacity: 0.25;

                    &::before {
                        border-left-color: var(--theme-light-border);
                    }
                }
            }
        }
    }

    .box {
        > ::slotted(*) {
            @include flex();
        }

        .extras {
            position: relative;
            background-color: white;

            ::slotted(*) {
                @include relative();
                outline: none;
                cursor: pointer;
                width: calc(var(--theme-h2) - 2px);
                height: calc(var(--theme-h2) - 2px);
                line-height: calc(var(--theme-h2) - 2px);
                padding: 0;
                box-sizing: content-box;
                text-align: center;
                @include theme-color-button-inverse();
                transition: background-color 0.1s ease-out;

                &::after {
                    position: absolute;
                    bottom: -1px;
                    left: 3px;
                    right: 4px;
                    content: " ";
                    border-bottom: 1px solid var(--theme-light-border);
                    transition: all 0.1s ease-in-out;
                }

                &::before {
                    position: absolute;
                    top: 4px;
                    bottom: 4px;
                    content: " ";
                    transition: all 0.1s ease-in-out;
                }

                vi-icon {
                    width: calc(var(--theme-h2) - 2px);
                    height: calc(var(--theme-h2) - 2px);
                }
            }

            ::slotted(*:hover) {
                background-color: var(--theme-color-faint);
                --vi-icon-fill: var(--theme-color);
            }

            ::slotted(*:active) {
                background-color: var(--theme-color-dark) !important;
            }

            &:hover ::slotted(*) {
                &::after {
                    left: 0;
                    right: 0;
                }
    
                &::before {
                    top: 0;
                    bottom: 0;
                }
            }

            &.left ::slotted(*)::before {
                right: 0;
                border-right: 1px solid var(--theme-light-border);
            }

            &.right ::slotted(*)::before {
                left: 0;
                border-left: 1px solid var(--theme-light-border);
            }

            &.left, &.right {
                @include layout-horizontal;
            }
        }
    }

    .box {
        .extras {
            ::slotted(*::part(popup)) {
                background-color: yellowgreen;
            }

            ::slotted(*)::part(icon) {
                background-color: yellow;
            }
        }
    }

    &:focus-within {
        .box {
            border-color: var(--theme-color-lighter);

            .extras {
                ::slotted(*) {
                    --vi-icon-fill: var(--theme-color);
                }

                ::slotted(*:hover) {
                    background-color: var(--theme-color);
                    --vi-icon-fill: white !important;
                }

                ::slotted(*)::after, ::slotted(*)::before {
                    border-color: var(--theme-color-lighter);
                }
            }
        }
    }
}