@import "../../../_vars.scss";

:host {
    @include layout-horizontal();
    overflow: hidden;

    marked-element {
        @include flex();
        resize: none;
    }

    marked-element, textarea {
        color: var(--vi-persistent-object-attribute-foreground, var(--theme-foreground));

        &[sensitive] {
            filter: blur(5px);
        }
    }

    textarea {
        white-space: pre-wrap;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}