@import "../_vars.scss";

:host {
    display: block;
    @include relative();
    line-height: var(--theme-h1);
    height: var(--theme-h1);
    @include noSelection();

    vi-overflow::part(button) {
        width: var(--theme-h1);
        
        &:hover{
            background-color: var(--color-faint);
        }
    }
}