@use "../_vars.scss" as *;

:host {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto auto auto minmax(0, 1fr);

    vi-action-bar {
        box-shadow: var(--theme-box-shadow);
        z-index: 1;

        &.action-bar {
            display: flex;
            align-items: center;
        }
    }

    header {
        @include page-title();
    }

    vi-query-items-presenter {
        margin: 3px 0 0 0;
        z-index: 0;
    }

    &[no-actions] > header {
        box-shadow: var(--theme-box-shadow);
    }

    &[hide-header] vi-query-items-presenter {
        margin: 0;
    }

    vi-query-items-presenter {
        grid-row: 4;
    }
}