@import "../_vars.scss";

:host {
    display: flex;
    @include noSelection();
    height: var(--theme-h1);
    background-color: var(--vi-action-bar-background-color, #F9F9F9);

    &[isEmpty] {
        display: none !important;
    }

	.actions {
		overflow: hidden;
	}

    .action {
        vi-icon[hasResource] {
            padding-right: 2px;
        }
    }

    vi-action-button {
        text-align: left;
    }
    
    vi-overflow::part(button) {
        width: var(--theme-h1);
    }

    .search {
        border-left: 1px solid #EAEAEA;
        padding: 0 var(--theme-h5);

        vi-input-search {
            min-width: 16em;
            height: var(--theme-h2);
            box-sizing: border-box;

            &::part(input) {
                box-sizing: border-box;
                border-width: 1px;
                border-style: solid;
                border-color: transparent;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: calc(var(--theme-h1) - var(--theme-h2));
                color: #333;

                &:focus {
                    background-color: white;
                    border-color: #EAEAEA;
                }

                &::placeholder {
                    color: #B3B3B3;
                }
            }

            &::part(search), &::part(reset) {
                fill: #B3B3B3;
            }
        }
    }
}