:host {
    display: flex;
    overflow: hidden;

    vi-marked {
        flex: 1;
        min-height: 0;
        min-width: 0;
        resize: none;
    }

    vi-marked, textarea {
        color: var(--vi-persistent-object-attribute-foreground, var(--theme-foreground));
    }

    textarea {
        white-space: pre-wrap;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}