:host {
    display: flex;
    box-sizing: border-box;

    vi-button {
        justify-content: start;
        padding: 0 var(--theme-h5);
        text-align: left;
        height: var(--theme-h1);
        line-height: var(--theme-h1);
        min-width: 100%;
        white-space: nowrap;
        overflow: hidden;

        vi-icon {
            height: var(--theme-h1);

            &.action-icon, &.down-icon {
                width: var(--theme-h3);
            }
        }

        .icon-space {
            height: var(--theme-h1);
            width: var(--theme-h2);
        }

        span {
            flex: 1;
            padding: 0 var(--theme-h5);
        }
    }

    vi-popup-menu {
        min-width: 100%;
    }

    &[inverse] {
        vi-popup[open] vi-button.groupActions, vi-popup-menu[open] vi-button:not(:hover) {
            background-color: var(--color-semi-faint);
        }
    }

    &[disabled] {
        vi-button {
            &[disabled] {
                opacity: 1;
            }

            span {
                opacity: 0.5;
            }

            vi-icon {
                opacity: 0.4;
            }
        }
    }
    
    &[grouped] vi-icon.down-icon {
        transform: rotate(-90deg);
    }

    &[overflow], &[grouped] {
        vi-button {
            padding: 0 !important;

            vi-icon.action-icon {
                width: var(--theme-h2);
            }

            span {
                padding: 0 var(--theme-h4);
            }
        }

        vi-icon {
            vertical-align: top;
            width: var(--theme-h2);

            &.down-icon {
                transform: rotate(-90deg);
            }
        }

        vi-icon.action-icon, .icon-space {
            background-color: rgba(0, 0, 0, 0.04);
        }
    }

    &[no-label]:not([force-label]), &[pinned]:not([force-label]) {
        vi-button span {
            display: none;
        }
    }

    &:focus {
        outline: none;
    }

    &[hidden] {
        display: none !important;
    }
}