:host {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #e9e9e9;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;

    &.loaded {
        opacity: 1;
    }
}