$color: #FAFAFA;
$backgroundColor: var(--colors-blue-grey-900);

:host {
    display: flex;
    position: relative;
    user-select: none;
    color: var(--vi-menu-color, $color);
    width: var(--vi-menu--expand-width, 17em);
    min-width: var(--vi-menu--expand-width, 17em);
    will-change: width;

    // Menu dimensions
    --vi-menu-collapsed-width: var(--theme-h1);
    --vi-menu-header-height: calc(var(--theme-h1) * 2);
    --vi-menu-item-height: var(--theme-h2);
    --vi-menu-separator-height: var(--theme-h3);
    --vi-menu-program-unit-icon-size: 1.5em;
    --vi-menu-item-icon-size: 1em;

    // Menu spacing
    --vi-menu-item-padding-left: var(--theme-h4);
    --vi-menu-item-padding-right: var(--theme-h4);
    --vi-menu-item-gap: var(--theme-h4);
    --vi-menu-search-margin: var(--theme-h5);
    --vi-menu-program-unit-spacing: var(--theme-h4);
    --vi-menu-group-indent: var(--theme-h3);
    
    &[hide-search] {
        vi-input-search {
            display: none !important;
        }

        vi-menu-item:first-of-type {
            margin-top: var(--vi-menu-item-gap);
        }
    }

    &[is-resizing] #resizer, #resizer:hover {
        background-color: #333;
    }
}

#toggleCollapse {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    height: var(--vi-menu-collapsed-width);
    width: var(--vi-menu-collapsed-width);
    fill: rgba(255, 255, 255, 0.5);

    &::part(icon) { 
        transition: transform 0.3s ease-out; 
        --vi-icon-width: var(--theme-h4);
        --vi-icon-height: var(--theme-h4);
    }
}

vi-scroller[vertical][hovering] + #resizer {
    width: calc(var(--theme-h5) / 2);
}

#add {
    height: var(--theme-h2);
    line-height: var(--theme-h2);
    padding-left: calc(var(--theme-h4) * 2);
    cursor: pointer;
    font-style: italic;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.instantSearch {
    position: relative;
    margin-bottom: var(--theme-h5);
    padding: var(--theme-h5) 0;
    background-color: rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    a {
        cursor: pointer;
        color: var(--vi-menu-color, $color);
        line-height: var(--theme-h2);
        padding: 0 var(--theme-h4);
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;

        div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: var(--theme-h5);
        }

        span {
            &.match {
                color: #FFDD00;
                font-weight: bold;
                pointer-events: none;
            }

            &.label {
                font-size: 11px;
                font-weight: 100;
                text-transform: uppercase;
                line-height: var(--theme-h2);
                transform: translateY(1px);
            }
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

header, footer {
    display: block;
    line-height: var(--theme-h1);
    flex-shrink: 0;
}

header {
    position: relative;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    .background {
        background-color: var(--color-dark);
    }

    .label {
        display: block;
        font-size: var(--theme-h3);
        line-height: var(--vi-menu-header-height);
        height: var(--vi-menu-header-height);
        white-space: nowrap;
        overflow: hidden;
    }
}

footer {
    overflow: hidden;
}

vi-input-search {
    margin-top: var(--vi-menu-search-margin);
    margin-right: var(--vi-menu-search-margin);
    margin-bottom: var(--vi-menu-search-margin);
    margin-left: var(--vi-menu-search-margin);

    &::part(input) {
        line-height: var(--theme-h2);
        padding-left: var(--theme-h5);
    }

    &::part(input):focus {
        background-color: white;
        color: #333;
    }
}

#resizer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: var(--theme-h5);
    background-color: transparent;
    cursor: ew-resize;
    z-index: 99;
    opacity: 0.5;
    transform: translateX(calc(var(--theme-h5) / 2));
}

.container {
    width: var(--vi-menu--expand-width, 17em);
    opacity: 1;
    transition: opacity 0.22s cubic-bezier(0.2, 0, 0, 1);
    background-color: var(--vi-menu-background, $backgroundColor);
}

:host {
    &[collapsed] {
        width: var(--vi-menu-collapsed-width);
        min-width: var(--vi-menu-collapsed-width);

        &:not(:hover):not([search-focused]) {
            vi-input-search {
                form {
                    display: none;
                }

                &::part(search) {
                    position: relative;
                    right: auto;
                    left: 50%;
                    transform: translateX(-50%);
                }

                &::part(reset) {
                    position: relative;
                    right: auto;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        .container {
            position: relative;
            width: var(--vi-menu-collapsed-width);
            transition: all 0.22s cubic-bezier(0.2, 0, 0, 1);
            transition-property: width, box-shadow, position;
            box-shadow: none;
            will-change: width;
            z-index: 100;
            overflow: hidden;

            > main {
                opacity: 1;
            }

            footer, header .label {
                opacity: 0;
                transition: opacity 0.22s ease-out;
                will-change: opacity;
            }

        }

        #toggleCollapse {
            z-index: 1000;
            background-color: var(--color-dark);

            &::part(icon) {
                transform: rotate(180deg);
            }
        }

        &:hover, &[search-focused] {
            width: var(--vi-menu-collapsed-width);
            min-width: var(--vi-menu-collapsed-width);

            .container {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: var(--vi-menu--expand-width, 17em);
                box-shadow: 4px 0px 10px 0px rgba(0,0,0,0.5);
                overflow: visible;
                z-index: 200;

                > main, footer, header .label {
                    opacity: 1;
                }

            }
        }
    }
}
