:host {
    display: flex;
    position: relative;

    input, vi-select::part(input) {
        color: var(--vi-persistent-object-attribute-foreground, var(--theme-foreground));
    }

    vi-select::part(icon) {
        display: none;
    }

    &:not([editing]) {
        overflow: hidden;

        a {
            display: flex;
            text-decoration: none;
            color: var(--vi-persistent-object-attribute-foreground, var(--color));
            fill: var(--vi-persistent-object-attribute-foreground, var(--color));
            overflow: hidden;
            text-overflow: ellipsis;

            &:focus {
                outline: 0;
            }

            &:visited {
                color: var(--vi-persistent-object-attribute-foreground, var(--color));
                fill: var(--vi-persistent-object-attribute-foreground, var(--color));
            }

            &:hover {
                color: var(--vi-persistent-object-attribute-foreground, var(--color-light));
                fill: var(--vi-persistent-object-attribute-foreground, var(--color-light));
            }

            &[disabled] {
                color: var(--vi-persistent-object-attribute-foreground, #333) !important;
            }

            span {
                text-overflow: ellipsis;
                overflow: hidden;
            }

            vi-icon {
                margin: 0 var(--theme-h5);
                min-width: var(--theme-h4);
                height: 1em;
                fill: var(--color);
                transform: translateY(2px);
            }
        }
    }

    &[editing] {
        vi-select {
            border: none;

            vi-popup > #content {
                transform: translateY(1px);
            }
        }

        a {
            &[disabled] {
                display: none;
            }

            vi-icon {
                height: 100%;
            }
        }
    }

    #radiobuttons, #chips {
        display: flex;
        flex-direction: column;
        line-height: var(--theme-h2);
        gap: var(--theme-h5);

        &[orientation=horizontal] {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    #chips {
        vi-button[inverse] {
            background-color: var(--color-faint);
        }
    }
}