@import "../../../_vars.scss";

:host {
    @include layout-horizontal();

    textarea {
        resize: none;
        white-space: pre-wrap;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    pre, textarea {
        color: var(--vi-persistent-object-attribute-foreground, var(--theme-foreground));
    }

    pre {
        white-space: pre-line;
    }
}