@import "../_vars.scss";

:host {
    display: flex;
    position: relative;

    #popup {
        position: fixed;
        background-color: white;
        transition: opacity 0.1s ease-out;
        overflow: visible;
        @include z-index1();

        &[popover] {
            border: none;
            margin: 0;
            outline: none;
            padding: 0;
        }

        &:not([popover]) {
            visibility: hidden;
            opacity: 0;
        }
    }

    &[open] #popup:not([popover]) {
        visibility: visible;
        opacity: 1;
        z-index: 11;
    }
}

#anchor {
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}