p, ol {
    margin: 0;
    padding: 0;
}

a, a:visited {
    display: inline-block;
    line-height: var(--vi-query-grid-row-height);
    color: var(--theme-color);
}

vi-icon {
    display: inline-block;
    vertical-align: -2px;
}