:host {
    display: flex;
    overflow: hidden;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    span, input {
        color: var(--vi-persistent-object-attribute-foreground, var(--theme-foreground));
    }

    #suggestions {
        &[open] {
            vi-icon {
                fill: white !important;
                background-color: var(--color);
            }
        }

        vi-icon {
            width: calc(var(--theme-h2) - 2px);
            height: calc(var(--theme-h2) - 2px);

            &:hover {
                fill: var(--color);
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                padding: 0 var(--theme-h5);
                line-height: var(--theme-h2);
                cursor: pointer;
                text-align: left;

                &:hover {
                    background-color: var(--color-faint);
                }
            }
        }
    }

    a {
        display: flex;
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;
        fill: var(--vi-persistent-object-attribute-foreground, var(--color));

        &:focus {
            outline: 0;
        }

        &:visited {
            color: var(--vi-persistent-object-attribute-foreground, var(--color));
            fill: var(--vi-persistent-object-attribute-foreground, var(--color));
        }

        &:hover {
            color: var(--vi-persistent-object-attribute-foreground, var(--color-light));
            fill: var(--vi-persistent-object-attribute-foreground, var(--color-light));
        }

        &[disabled] {
            color: var(--vi-persistent-object-attribute-foreground, #333) !important
        }

        &[href] {
            cursor: pointer;
        }

        span {
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            color: var(--vi-persistent-object-attribute-foreground, var(--color));
        }

        vi-icon {
            margin: 0 var(--theme-h5);
            min-width: var(--theme-h4);
            height: 1em;
            transform: translateY(2px);
        }
    }
}