:host {
    user-select: none;
    display: flex;
    line-height: normal;

    vi-checkbox {
        display: inline-block;
        color: var(--vi-persistent-object-attribute-foreground, var(--theme-foreground));
    }

    vi-toggle {
        align-self: start;
    }
}