@import "../../../_vars.scss";

:host {
    @include noSelection();
    @include layout-horizontal();
    line-height: normal;
    height: var(--vi-persistent-object-attribute-presenter--attribute-height, 100%);

    vi-checkbox {
        display: inline-block;
        color: var(--vi-persistent-object-attribute-foreground, var(--theme-foreground));
    }
}

:host-context(vi-persistent-object-attribute-as-detail) {
    border: 1px solid var(--theme-light-border);
    margin: 0 1px;
    padding: 0 var(--theme-h5);
    line-height: var(--theme-h2);
}