:host {
    display: flex;

    vi-scroller {
        flex: 1;
        min-width: 0;
    }

    .wrap-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: .8ch;
    }

    vi-sortable {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: .8ch;
    }

    &:not([disabled]) {
        cursor: text;
    }

    input {
        border: none;
        outline: none;
        max-width: 250px;
        width: var(--tags-input--width, 30px);
        min-width: 8px;
    }

    .tag {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-block: 4px;
        background-color: var(--color);
        color: white;
        border-radius: calc(var(--theme-h5) / 2);
        text-align: center;
        justify-content: center;

        &.sortable-ghost {
            opacity: 0.5;
        }

        .tag-value {
            margin-left: 8px;
            margin-right: 8px;
            max-width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .delete {
            padding-inline-end: 5px;
            cursor: pointer;
            fill: white;
        }
    }

    vi-sortable:not([disabled]) .tag {
        cursor: grab;
        user-select: none;

        &:active {
            cursor: grabbing;
        }
    }
}