:host {
    display: flex;

    .wrap-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    vi-sortable {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &:not([readonly]) {
        cursor: text;
    }

    input {
        border: none;
        outline: none;
        max-width: 250px;
        width: var(--tags-input--width, 30px);
        min-width: 8px;
    }

    .tag {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 4px 4px 0;
        background-color: var(--color);
        color: white;
        border-radius: var(--theme-h5);
        text-align: center;
        justify-content: center;

        &.sortable-ghost {
            opacity: 0.5;
        }

        .tag-value {
            margin-left: 8px;
            margin-right: 8px;
            max-width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .delete {
            padding: 5px 5px 3px 0;
            cursor: pointer;
            fill: white;
        }
    }

    vi-sortable[enabled] .tag {
        cursor: grab;
        user-select: none;

        &:active {
            cursor: grabbing;
        }
    }
}