:host {
    display: flex;
    align-items: flex-end;
    height: var(--theme-h2);
    box-sizing: border-box;
    overflow: hidden;

    > .container {
        display: flex;
        gap: var(--theme-h5);
        align-items: center;
    }
}

label {
    font-size: .9em;
    font-weight: 400;
    color: var(--vi-persistent-object-attribute-label-color, #888);
    letter-spacing: 0.2px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2em;
}

.required {
    display: none;
    position: relative;
    font-size: .8em;
    color: white;
    line-height: 1.5em;
    height: 14px;
    padding: 0 var(--theme-h5) 2px calc(var(--theme-h5) / 2);
    background-color: var(--color);
    margin-left: var(--theme-h5);

    &::before {
        content: "";
        position: absolute;
        right: 100%;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right-color: var(--color);
        border-right-width: 7px;
        border-right-style: solid;
    }
}

.locked {
    fill: #666;
    display: none;

    > vi-icon {
        height: var(--theme-h3);
        --vi-icon-width: 10px;
        --vi-icon-height: 10px;
        fill: var(--vi-persistent-object-attribute-label-color, #888);
    }
}

.info {
    width: var(--theme-h3);
    height: var(--theme-h3);

    &::part(icon) {
        --vi-icon-width: 12px;
        --vi-icon-height: 12px;
        fill: var(--color);
    }
}

:host[has-error] {
    .label .required {
        background-color: var(--theme-color-error) !important;

        &::before {
            border-right-color: var(--theme-color-error) !important;
        }
    }
}

:host[editing][required]:not([bulk-edit]):not([read-only]) .required {
    display: inline-block;
}

:host[editing][read-only] .locked {
    display: inline-block;
}