@import "../_vars.scss";

$color: #FAFAFA;
$backgroundColor: $blue-grey-900;

:host {
    position: relative;
    box-sizing: border-box;
	display: block;
	line-height: var(--theme-h2);
    color: var(--vi-menu-color, $color);
    fill: var(--vi-menu-color, $color);
    cursor: pointer;
    --iron-collapse-transition-duration: 150ms;

    span.match {
        color: #FFDD00;
        font-weight: bold;
        pointer-events: none;
    }

    > .title {
        display: flex;
        position: relative;
        padding-right: var(--theme-h5);
        text-decoration: none;
        color: var(--vi-menu-color, $color);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        outline: none;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        > vi-icon {
            height: var(--theme-h2);
            width: var(--theme-h3);
            --vi-icon-width: 1em;
            --vi-icon-height: 1em;
            margin-left: calc(var(--theme-h3) * var(--vi-menu-item-indent-level, 0));
            fill: var(--vi-menu-color, $color);
    		transition: transform 0.2s ease;
            transform: rotate(0deg);

            &[unresolved] {
                display: none;

                & + span {
                    margin-left: calc(var(--theme-h3) + var(--theme-h3) * var(--vi-menu-item-indent-level, 0));
                }
            }
        }
    }
    
    &[hidden] {
        display: none !important;
    }

    &[expand], &[filtering] {
        > .title {
            > vi-icon[source="ProgramUnitGroup"] {
                -moz-transform: rotate(90deg);
    			-ms-transform: rotate(90deg);
    			-o-transform: rotate(90deg);
    			-webkit-transform: rotate(90deg);
    			transform: rotate(90deg);
            }
        }
    }

    &.program-unit {
		background-color: transparent;

        > .title {
            font-weight: 600;
            color: var(--vi-menu-color, $color);
            text-transform: uppercase;

            > vi-icon {
                display: none;

                + span {
                    margin-left: var(--theme-h4);
                }
            }
        }
	}

    &[is-separator] {
        cursor: default;
        --separator-height: var(--theme-h2);

        a {
            height: var(--separator-height);
            pointer-events: none;
            position: relative;

            > * {
                display: none;
            }

            &::after {
                position: absolute;
                inset: calc(var(--separator-height) / 2) var(--theme-h3) 0 calc(var(--theme-h3) + var(--theme-h3) * var(--vi-menu-item-indent-level, 0));
                content: "";
                height: 1px;
                background-color: rgba(255, 255, 255, .2);
            }
        }
    }
}