:host {
    display: flex;

    .header {
        display: flex;
        flex-direction: row;
        flex: 1;
        min-width: 0;

        span {
            flex: 1;
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            user-select: none;
            padding-left: var(--theme-h5);
            line-height: calc(var(--theme-h2) - 2px);
            height: calc(var(--theme-h2) - 2px);
            cursor: pointer;
            overflow: hidden;

            &:hover {
                background-color: var(--color-faint);
            }

            vi-checkbox:not([checked]) {
                fill: #aaa;
            }
        }
    }

    .header span {
        padding-left: var(--theme-h5);
    }

    span {
        color: var(--vi-persistent-object-attribute-foreground, var(--theme-foreground));
    }    

    vi-icon {
        height: calc(var(--theme-h2) - 2px);
        width: calc(var(--theme-h2) - 2px);
        fill: var(--vi-select-icon-color, var(--theme-foreground));
    }

    vi-popup[disabled] {
        vi-icon {
            opacity: 0.25;
            cursor: default;
        }
    }
}