vi-input-search {
    line-height: var(--theme-h2);
    height: var(--theme-h2);
    border: 1px solid #EAEAEA;
    box-sizing: border-box;

    &::part(input) {
        color: #333;

        &:focus {
            background-color: white;
        }
    }
}

main vi-query-grid {
    height: 75vh;
}

:host([is-phone]) {
    main vi-query-grid {
        width: 85vw;
    }
}

:host([is-tablet]) {
    main vi-query-grid {
        width: 90vw;
    }
}

:host([is-desktop]) {
    main vi-query-grid {
        width: 75vw;
    }
}