@import "../persistent-object-attribute-boolean/persistent-object-attribute-boolean.scss";

:host {
    display: flex;

    vi-select {
        border: none;

        &::part(input) {
            color: var(--vi-persistent-object-attribute-foreground, var(--theme-foreground));
        }
    }
}