:host {
    display: flex;
    position: relative;
    outline: none;

    img {
        display: block;
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;

        &[can-open] {
            cursor: zoom-in;
        }
    }

    vi-sensitive {
        display: flex;
        position: absolute;
        inset: 0;
    }

    .image-container {
        flex: 1;
        min-width: 0;
        position: relative;
        padding: var(--theme-h5);

        vi-sensitive {
            position: absolute;
            inset: var(--theme-h5);
        }
    }

    .browse {
        input {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            padding: 0;
            margin: 0;
            border: 0;
            cursor: pointer;
        }
    }
}
