$min-main-width: 400px;

:host {
    --vi-persistent-object-dialog-base-width-base: #{$min-main-width};

    main {
        display: flex;
        flex-direction: column;
        padding: 0;
        max-height: calc(80vh - (var(--theme-h1) + var(--theme-h5) * 2) - (var(--theme-h2) + var(--theme-h4) * 2)); // 80vh - header height - footer height (both defined on vi-app)
        min-height: calc(var(--theme-h2) * 3);

        > vi-persistent-object-tab-presenter {
            flex: 1;
            min-height: 0;
            min-width: 0;
            min-height: calc(var(--theme-h2) * 3);

            > vi-persistent-object-tab {
                position: static;
                width: var(--vi-persistent-object-dialog-computed-width, var(--vi-persistent-object-dialog-base-width-base));
                max-width: 90vw;
            }
        }
    }

    footer {
        .extra-actions {
            padding-right: var(--theme-h5);
        }
    }

    &[is-phone] main {
        width: 85vw;
    }
    
    &[is-tablet], &[is-desktop] {
        main, vi-notification {
            min-width: $min-main-width;
            max-width: var(--vi-persistent-object-dialog-computed-width);
        }
    }
}

header nav {
    display: flex;
    gap: var(--theme-h5);

    margin: calc(var(--theme-h5) * -1) calc(var(--theme-h4) * -1) calc(var(--theme-h5) * -1) var(--theme-h4);

    span {
        align-self: center;
    }

    vi-button {
        width: var(--theme-h1);
    }
}

footer vi-button.cancel {
    display: grid;
    grid-template-areas: "stack";
    justify-items: center;

    span {
        grid-area: stack;
        
        &[hide] {
            visibility: hidden;
        }
    }
}