:host {
    display: flex;

    .grid {
        flex: 1;
        min-width: 0;
        min-height: 0;
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;

        > div:not(:first-of-type) {
            display: flex;
            flex-direction: column;
            overflow: hidden;

            label {
                color: var(--color-dark);
                font-size: 18px;
            }

            vi-query-grid {
                background-color: white;
                flex: 1;
                margin-top: var(--theme-h4);
                border: 1px solid var(--theme-light-border);
                box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
            }
        }

        div:first-of-type {
            vi-checkbox {
                display: inline-block;
                user-select: none;
            }
        }
    }
}

.more-data {
    display: none;
    align-self: center;
    margin: var(--theme-h4);
    line-height: var(--theme-h1);
    padding: 0 var(--theme-h2);
}

:host([query-name=MaxRows]) {
    display: block;
    overflow-y: auto;

    vi-query-grid {
        flex: auto !important;

        &[has-more-rows] + .more-data {
            display: inherit;
        }
    }
}