@import "../../../_vars.scss";

:host {
    @include layout-horizontal();

    vi-select {
        border: none;
    }

    vi-sensitive, vi-select::part(input) {
        color: var(--vi-persistent-object-attribute-foreground, var(--theme-foreground));
    }

    #radiobuttons, #chips {
        display: flex;
        flex-direction: column;
        line-height: var(--theme-h2);
        gap: var(--theme-h5);

        &[orientation=horizontal] {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    #chips {
        vi-button[inverse] {
            background-color: var(--theme-color-faint);
        }
    }
}