@import "../_vars.scss";

:host {
    display: block;
    box-sizing: border-box;
    border-right: 1px solid var(--theme-light-border);
    background-color: white;

    .label {
        display: flex;
        position: relative;
        padding: 0 var(--vi-query-grid-cell-padding, var(--theme-h5));
        cursor: pointer;
        position: relative;
        color: #808080;
        white-space: nowrap;
        overflow: hidden;

        > label {
            display: block;
            line-height: var(--vi-query-grid-header-height, var(--vi-query-grid-row-height));
            white-space: nowrap;
            cursor: pointer;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-right: var(--theme-h5);
            color: var(--theme-color);
        }

        > vi-icon {
            fill: var(--theme-color);
            line-height: var(--theme-h2);
            height: var(--theme-h2);
            --vi-icon-height: 12px;
        }
    }

    vi-popup-menu {
        vi-button {
            height: var(--vi-query-grid-header-height, var(--vi-query-grid-row-height));
        }
    }

    vi-button[icon="CaretDown"]::after {
        position: absolute;
        left: 0;
        top: 2px;
        bottom: 2px;
        width: 1px;
        content: " ";
        background-color: var(--theme-light-border);
    }
}