@import "../_vars.scss";

:host {
    display: block;
    position: relative;
    width: var(--vi-query-grid-row-height);
    box-sizing: border-box;
    align-self: flex-end;
    cursor: pointer;

    > vi-icon {
        height: var(--vi-query-grid-row-height);
        width: var(--vi-query-grid-row-height);
        line-height: var(--vi-query-grid-row-height);
    }

    &[partial] > * {
        opacity: 0.5;
    }

    &:not([partial]):not([can-select-all]) {
        cursor: default;

        & > * {
            visibility: hidden;
        }
    }
}