@import "../_vars.scss";

:host {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    @include noSelection();

    &[initializing] {
        header, vi-scroller {
            visibility: hidden;
        }

        vi-query-grid-row {
            display: contents;
        }

        .filler {
            display: none;
        }
    }

    vi-scroller {
        flex: 1;
        min-height: 0;
        min-width: 0;
    }

    [grid] {
        display: grid;
        grid-template-columns: var(--vi-query-grid-columns);
    }

    header {
        @include layout-horizontal();
        position: relative;
        z-index: 1;
        border-bottom: 1px solid var(--theme-light-border);

        [grid] {
            margin-left: calc(var(--vi-query-grid-horizontal, 0) * -1);
        }

        .controls {
            display: grid;
            background-color: white;
            position: relative;
            z-index: 1;

            .reorder, .spacer {
                display: none;
                min-width: var(--vi-query-grid-row-height);
                height: var(--vi-query-grid-row-height);
            }

            .reorder {
                grid-area: reorder;
            }

            .spacer {
                grid-area: spacer;
            }

            vi-query-grid-grouping {
                grid-area: grouping;
            }

            vi-query-grid-select-all {
                grid-area: select;
            }

            vi-query-grid-filters {
                grid-area: filter;
                line-height: var(--vi-query-grid-row-height);
            }
        }
    }

    footer {
        padding-left: var(--vi-query-grid-controls-width, 0);

        vi-query-grid-footer {
            margin-left: calc(var(--vi-query-grid-horizontal, 0) * -1);
        }
    }

    vi-spinner[hidden] {
        display: none !important;
    }

    &:not([can-filter]) {
        vi-query-grid-column-header::part(filter) {
            display: none;
        }
    }

    &:not([can-select]) {
        vi-query-grid-row::part(selector) {
            display: none;
        }
    }

    &:not([inline-actions]) {
        vi-query-grid-row::part(actions) {
            display: none;
        }
    }

    // None
    &:not([can-select]):not([can-filter]):not([inline-actions]) {
        .controls {
            grid-template-areas: none;
        }

        vi-query-grid-row {
            grid-template-columns: var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
        }

        &[has-grouping] {
            vi-query-grid-row {
                grid-template-columns: repeat(1, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
            }
        }

        &[can-reorder] {
            .controls {
                grid-template-areas: "reorder";

                .reorder {
                    display: block;
                }
            }

            vi-query-grid-row {
                grid-template-columns: repeat(1, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
            }
        }
    }

    // Select
    &[can-select]:not([can-filter]):not([inline-actions]) {
        .controls {
            grid-template-areas: "select";
        }

        vi-query-grid-row {
            grid-template-columns: auto var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
        }

        &[has-grouping] {
            .controls {
                grid-template-areas: "grouping select";
            }

            vi-query-grid-row {
                grid-template-columns: repeat(2, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
            }
        }

        &[can-reorder] {
            .controls {
                grid-template-areas: "reorder select";

                .reorder {
                    display: block;
                }
            }
    
            vi-query-grid-row {
                grid-template-columns: repeat(1, var(--vi-query-grid-row-height)) auto var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
            }
        }
    }

    // Filter
    &:not([can-select])[can-filter]:not([inline-actions]) {
        .controls {
            grid-template-areas: "spacer" "filter";

            .spacer {
                display: block;
                border-bottom: 1px solid var(--theme-light-border);
            }
        }

        vi-query-grid-row {
            grid-template-columns: repeat(1, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));

            &::part(actions) {
                display: none;
            }

            &::part(filter) {
                display: block;
            }
        }

        &[has-grouping] {
            .controls {
                grid-template-areas: "spacer spacer" "grouping filter";
            }

            vi-query-grid-row {
                grid-template-columns: repeat(2, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
            }
        }

        &[can-reorder] {
            vi-query-grid-row {
                grid-template-columns: repeat(1, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));

                &::part(filter) {
                    display: none;
                }
            }
        }
    }

    // Inline actions
    &:not([can-select]):not([can-filter])[inline-actions] {
        .controls {
            grid-template-areas: "spacer";

            .spacer {
                display: block;
            }
        }

        vi-query-grid-row {
            grid-template-columns: repeat(1, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
        }

        &[has-grouping] {
            vi-query-grid-row {
                grid-template-columns: repeat(2, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
            }

            .controls {
                grid-template-areas: "grouping spacer";
            }
        }

        &[can-reorder] {
            .controls {
                grid-template-areas: "reorder spacer";

                .reorder {
                    display: block;
                }
            }

            vi-query-grid-row {
                grid-template-columns: repeat(2, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
            }
        }
    }

    // Select + Filter
    &[can-select][can-filter]:not([inline-actions]) {
        .controls {
            grid-template-areas: "spacer spacer" "select filter";

            .spacer {
                display: block;
                border-bottom: 1px solid var(--theme-light-border);
            }
        }

        vi-query-grid-row {
            grid-template-columns: repeat(2, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));

            &::part(filter) {
                display: block;
            }
        }

        &[has-grouping] {
            vi-query-grid-row {
                grid-template-columns: repeat(3, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
            }

            .controls {
                grid-template-areas: "spacer spacer spacer" "grouping select filter";
            }
        }

        &[can-reorder] {
            .controls {
                grid-template-areas: "spacer spacer spacer" "reorder select filter";

                .reorder {
                    display: block;
                }
            }

            vi-query-grid-row {
                grid-template-columns: repeat(2, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
    
                &::part(filter) {
                    display: none;
                }
            }
        }
    }

    // Select + Inline actions
    &[can-select]:not([can-filter])[inline-actions] {
        .controls {
            grid-template-areas: "select spacer";

            .spacer {
                display: block;
            }
        }
        
        vi-query-grid-row {
            grid-template-columns: repeat(2, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
        }

        &[has-grouping] {
            .controls {
                grid-template-areas: "grouping select spacer";
            }

            vi-query-grid-row {
                grid-template-columns: repeat(3, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
            }
        }

        &[can-reorder] {
            .controls {
                grid-template-areas: "reorder select spacer";

                .reorder {
                    display: block;
                }
            }

            vi-query-grid-row {
                grid-template-columns: repeat(3, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
            }
        }
    }

    // Select + Filter + Inline actions
    &[can-select][can-filter][inline-actions] {
        .controls {
            grid-template-areas: "spacer spacer" "select filter";
            
            .spacer {
                display: block;
                border-bottom: 1px solid var(--theme-light-border);
            }
        }

        vi-query-grid-row {
            grid-template-columns: repeat(2, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
        }

        &[has-grouping] {
            .controls {
                grid-template-areas: "spacer spacer spacer" "grouping select filter";
            }

            vi-query-grid-row {
                grid-template-columns: repeat(3, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
            }
        }

        &[can-reorder] {
            .controls {
                grid-template-areas: "spacer spacer spacer" "reorder select filter";

                .reorder {
                    display: block;
                }
            }

            vi-query-grid-row {
                grid-template-columns: repeat(3, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
            }
        }
    }
}