@import "../_vars.scss";

$color: #FAFAFA;
$backgroundColor: $blue-grey-900;

:host {
    @include layout-horizontal();
    @include relative();
    @include noSelection();
    color: var(--vi-menu-color, $color);
    width: var(--vi-menu--expand-width, 17em);
    min-width: var(--vi-menu--expand-width, 17em);
    will-change: width;

    
    &[hide-search] {
        vi-input-search {
            display: none !important;
        }

        vi-menu-item:first-of-type {
            margin-top: var(--theme-h5);
        }
    }

    &[is-resizing] #resizer, #resizer:hover {
        background-color: #333;
    }
}

#toggleCollapse {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    height: var(--theme-h1);
    width: var(--theme-h1);
    fill: rgba(255, 255, 255, 0.5);

    &::part(icon) { 
        transition: transform 0.3s ease-out; 
        --vi-icon-width: var(--theme-h4);
        --vi-icon-height: var(--theme-h4);
    }
}

vi-scroller[vertical][hovering] + #resizer {
    width: calc(var(--theme-h5) / 2);
}

#add {
    height: var(--theme-h2);
    line-height: var(--theme-h2);
    padding-left: calc(var(--theme-h4) * 2);
    cursor: pointer;
    font-style: italic;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.instantSearch {
    position: relative;
    margin-bottom: var(--theme-h5);
    padding: var(--theme-h5) 0;
    background-color: rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    a {
        cursor: pointer;
        color: var(--vi-menu-color, $color);
        line-height: var(--theme-h2);
        padding: 0 var(--theme-h4);
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;

        div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: var(--theme-h5);
        }

        span {
            &.match {
                color: #FFDD00;
                font-weight: bold;
                pointer-events: none;
            }

            &.label {
                font-size: 11px;
                font-weight: 100;
                text-transform: uppercase;
                line-height: var(--theme-h2);
                transform: translateY(1px);
            }
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    & + vi-menu-item {
        margin-top: var(--theme-h5);
    }
}

header, footer {
    display: block;
    line-height: var(--theme-h1);
    flex-shrink: 0;
}

header {
    position: relative;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    .background {
        background-color: var(--theme-color-dark);
    }

    .label {
        display: block;
        font-size: var(--theme-h3);
        line-height: calc(var(--theme-h1) * 2);
        height: calc(var(--theme-h1) * 2);
        white-space: nowrap;
        overflow: hidden;
    }
}

footer {
    overflow: hidden;
}

vi-input-search {
    margin-top: calc(var(--theme-h4) / 2);
    margin-right: calc(var(--theme-h4) - var(--theme-h4) / 2);
    margin-bottom: calc(var(--theme-h4) / 2);
    margin-left: calc(var(--theme-h4) - var(--theme-h4) / 2);

    &::part(input) {
        line-height: var(--theme-h2);
        padding-left: var(--theme-h5);
    }

    &::part(input):focus {
        background-color: white;
        color: #333;
    }
}

#resizer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: var(--theme-h5);
    background-color: transparent;
    cursor: ew-resize;
    z-index: 99;
    opacity: 0.5;
    transform: translateX(calc(var(--theme-h5) / 2));
}

.container {
    width: var(--vi-menu--expand-width, 17em);
    opacity: 1;
    transition: opacity 0.22s cubic-bezier(0.2, 0, 0, 1);
    background-color: var(--vi-menu-background, $backgroundColor);
}

:host {
    &[collapsed] {
        width: var(--theme-h1);
        min-width: var(--theme-h1);

        .container {
            transform: translateX(calc(var(--vi-menu--expand-width, 17em) * -1 + var(--theme-h1)));
            transition: all 0.22s cubic-bezier(0.2, 0, 0, 1);
            transition-property: transform, box-shadow;
            transition-delay: 200ms;
            box-shadow: none;
            will-change: transform;
            z-index: 100;

            > main, footer, header .label {
                opacity: 0;
                transition: opacity 0.22s ease-out;
                transition-delay: 200ms;
                will-change: opacity;
            }
        }

        #toggleCollapse {
            z-index: 1000;
            background-color: var(--theme-color-dark);

            &::part(icon) { 
                transform: rotate(180deg);
            }
        }

        &:hover, &[search-focused] {
            .container {
                transform: translateX(0);
                box-shadow: 4px 0px 10px 0px rgba(0,0,0,0.5);

                > main, footer, header .label {
                    opacity: 1;
                }
            }
        }
    }
}