:host {
    display: flex;
    align-items: center;
    gap: calc(var(--theme-h5) - 1px);
    box-sizing: border-box;

    &:not([disabled]) {
        cursor: pointer;
    }

    > span {
        padding: 0 1px 0 3px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &:focus {
        outline: 0;

        &:not([disabled]) span {
            outline: 1px dotted var(--color-light);
        }
    }
}