:host {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

    vi-app-route-presenter {
        display: flex;
        flex: 1;

        > vi-app-route {
            flex: 1;
        }
    }
}