:host {
    position: fixed;
    z-index: 5000;
    bottom: 10px;
    right: 10px;
    width: 300px;

    article {
        display: block;
		margin-top: 10px;
		position: relative;
		right: -300px;
		opacity: 0;
        padding: var(--theme-h3, 22px);
        color: white;
        box-shadow: 0 0 6px 1px rgba(0, 0, 0, .25);

        &.log-error {
            background-color: var(--theme-color-error);
        }

        &.log-warning {
            background-color: var(--theme-color-warning);
        }

        &.log-notice {
            background-color: var(--theme-color-notice);
        }

        &.log-ok {
            background-color: var(--theme-color-ok);
        }
    }
}