:host {
    display: flex;
    user-select: none;
    height: var(--theme-h1);
    background-color: var(--vi-action-bar-background-color, #F9F9F9);

    &[accent] {
        --color: var(--theme-accent-color);
        --color-light: var(--theme-accent-color-light);
        --color-lighter: var(--theme-accent-color-lighter);
        --color-dark: var(--theme-accent-color-dark);
        --color-darker: var(--theme-accent-color-darker);
        --color-faint: var(--theme-accent-color-faint);
        --color-semi-faint: var(--theme-accent-color-semi-faint);
        --color-rgb: var(--theme-accent-color-rgb);
    }
}

vi-overflow {
    flex: 1;
    min-width: 0;
    --vi-overflow-gap: var(--vi-action-bar-gap, 0);

    &::part(button) {
        width: var(--theme-h1);
    }
}

.actions {
    overflow: hidden;
}

.action {
    vi-icon[hasResource] {
        padding-right: 2px;
    }
}

vi-action-button {
    text-align: left;
}

@keyframes button-pulse {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    50% {
        opacity: 1;
        transform: scale(1.02);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.selected-items {
    display: flex;
    align-items: center;
    gap: var(--theme-h5);
    border-left: 1px solid #EAEAEA;
    padding: 0 var(--theme-h5);

    vi-button {
        background-color: var(--color-semi-faint);
        color: var(--color-dark);
        fill: var(--color-dark);
        flex-direction: row-reverse;
        gap: var(--theme-h5);
        border-radius: var(--theme-h5);
        height: var(--theme-h2);
        line-height: var(--theme-h2);
        padding: 0 var(--theme-h5);
        animation: button-pulse 0.35s ease-out;

        &:hover {
            background-color: var(--color-lighter);
        }
    }
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--theme-h5);
    margin-left: var(--theme-h5);
    width: var(--search-width, 16em);
    min-width: 200px;
    max-width: 600px;
    position: relative;
    align-self: stretch;

    .resizer {
        position: absolute;
        left: -2.5px;
        top: 0;
        bottom: 0;
        width: 5px;
        cursor: ew-resize;
        z-index: 1;
        
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: calc((var(--theme-h1) - var(--theme-h2)) / 2);
            bottom: calc((var(--theme-h1) - var(--theme-h2)) / 2);
            width: 1px;
            background-color: #EAEAEA;
            transition: top 0.2s ease, bottom 0.2s ease, width 0.2s ease;
        }
        
        &:hover::before {
            top: 0;
            bottom: 0;
            width: 5px;
        }
    }

    vi-input-search {
        min-width: 100%;
        width: 100%;
        height: var(--theme-h2);
        box-sizing: border-box;

        &::part(input) {
            box-sizing: border-box;
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: calc(var(--theme-h1) - var(--theme-h2));
            color: #333;

            &:focus {
                background-color: white;
                border-color: #EAEAEA;
            }

            &::placeholder {
                color: #B3B3B3;
            }
        }

        &::part(search), &::part(reset) {
            fill: #B3B3B3;
        }
    }
}