:host {
    --vi-icon-selected-checked-color: var(--vi-query-grid-cell-boolean-checked-color, #555);

    display: block;

    > * {
        height: var(--vi-query-grid-row-height);
        line-height: var(--vi-query-grid-row-height);
    }

    > vi-icon {
        position: unset;
    }

    &[is-app-sensitive][sensitive] {
        filter: blur(5px);
    }
}