:host {
    display: block;
    padding: 0 1px;
    overflow: hidden;

    .image {
        height: var(--vi-query-grid-row-height);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &[is-app-sensitive][sensitive] {
        filter: blur(5px);
    }
}