:host {
    display: block;
    white-space: nowrap;
    color: #222;
    position: relative;
    --vi-persistent-object-attribute-presenter--attribute-height: calc(var(--vi-persistent-object-attribute-presenter--row-height, var(--theme-h2)) * 2 * (var(--vi-persistent-object-attribute-presenter--row-span) - .5));

    #content, .content {
        display: flex;
        flex-direction: row;
        height: var(--vi-persistent-object-attribute-presenter--attribute-height);
    }

    ::slotted(*) {
        flex: 1;
        min-height: 0;
        min-width: 0;
    }

    vi-checkbox {
        margin-right: var(--theme-h5);

        &[disabled]::part(icon) {
            background-color: #eee;
        }
    }

    &:focus {
        outline: 0;
    }

    &[developer] {
        #content, vi-persistent-object-attribute-label {
            opacity: 0.2;
        }

        #developer {
            position: absolute;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.3);
            border: 1px dashed var(--color-faint);
            cursor: pointer;

            &:hover {
                background-color: var(--color-faint);
            }

            label {
                font-weight: bold;
                color: var(--color-darker);
                pointer-events: none;
            }
        }
    }
}