@import "../vars.scss";

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-error);
    fill: var(--color-error);

    h1, h2 {
        font-weight: normal;
        text-align: center;
        padding: var(--theme-h5) var(--theme-h3);
        margin: 0;
    }

    h1 {
        font-size: 20px;

        &:empty {
            display: none;
        }
    }

    h2 {
        font-size: 14px;
    }

    vi-icon {
        --vi-icon-width: var(--theme-h1);
        --vi-icon-height: var(--theme-h1);
        margin-bottom: var(--theme-h4);
    }
}