@import "../_vars.scss";

:host {
    display: block;
    box-sizing: border-box;
    border-right: 1px solid var(--theme-light-border);
    background-color: white;

    .label {
        display: flex;
        position: relative;
        padding: 0 var(--vi-query-grid-cell-padding, var(--theme-h5));
        position: relative;
        color: #808080;
        white-space: nowrap;
        overflow: hidden;

        &[can-sort] > * {
            cursor: pointer;
        }

        > label {
            display: block;
            line-height: var(--vi-query-grid-header-height, var(--vi-query-grid-row-height));
            white-space: nowrap;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-right: var(--theme-h5);
            color: var(--color);
        }

        > vi-icon {
            fill: var(--color);
            line-height: var(--theme-h2);
            height: var(--theme-h2);
            --vi-icon-height: 12px;
        }
    }

    vi-popup-menu {
        vi-button {
            height: var(--vi-query-grid-header-height, var(--vi-query-grid-row-height));
        }
    }

    vi-button[icon="CaretDown"]::after {
        position: absolute;
        left: 0;
        top: 2px;
        bottom: 2px;
        width: 1px;
        content: " ";
        background-color: var(--theme-light-border);
    }

    .resizer {
        width: 0.5em;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: transparent;
        cursor: ew-resize;
        transform: translate3d(0.25em, 0, 0);
    }

    &.resizing .resizer, .resizer:hover {
        &::after {
            position: absolute;
            left: calc(var(--theme-h5) / 2);
            top: 0;
            bottom: 0;
            width: 2px;
            background-color: #888;
            content: " ";
        }
    }
}