@import "../_vars.scss";

:host {
    display: flex;
    min-width: 20em;
    margin-bottom: 4px;
    height: var(--theme-h2);
    line-height: var(--theme-h2);
    font-size: 15px;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    > vi-icon {
        width: var(--theme-h2);
        height: var(--theme-h2);
        fill: #888;
        pointer-events: none;
    }

    label {
        flex: 1;
        min-height: 0;
        min-width: 0;
        background-color: #f9f9f9;
        margin-left: var(--theme-h4);
        padding-left: var(--theme-h4);
        padding-right: var(--theme-h1);
        pointer-events: none;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .buttons {
        background-color: #f9f9f9;

        vi-button {
            fill: var(--color);
        }
    }

    &:not([is-pinned]) {
        .buttons {
            vi-button:nth-child(1) {
                opacity: 0.5;
            }
        }
    }

    &[is-hidden] {
        .buttons {
            vi-button:nth-child(2) {
                opacity: 0.5;
            }
        }
    }
}