:host {
    main {
        display: flex;
        flex-direction: column;
        user-select: none;
        padding: var(--theme-h4) 0 var(--theme-h4) var(--theme-h5);
        max-height: calc(80vh - (var(--theme-h1) + var(--theme-h5) * 2) - (var(--theme-h2) + var(--theme-h4) * 2)); // 80vh - header height - footer height (both defined on vi-app)

        > vi-scroller {
            flex: 1;
            min-height: 0;
            min-width: 0;
            margin-top: var(--theme-h4);
        }

        vi-query-grid-configure-dialog-column-list {
            display: block;
            padding: 0 var(--theme-h4) 0 0;

            &:empty {
                display: none;
            }
        }
    }

    footer {
        > vi-button {
            margin: 0;
        }

        > div {
            vi-button:first-child {
                margin-right: var(--theme-h5);
            }
        }
    }
}