@import "../../../_vars.scss";

:host {
    display: flex;
    margin-bottom: 2px;

    input {
        border: 1px solid var(--theme-light-border);
        box-sizing: border-box;
        height: var(--theme-h2);
        line-height: var(--theme-h2);
        -moz-transition: border-color 0.2s ease-in-out;
        -o-transition: border-color 0.2s ease-in-out;
        -webkit-transition: border-color 0.2s ease-in-out;
        transition: border-color 0.2s ease-in-out;
        padding: 0 6px;
        outline: none;

        &:focus {
            border-color: var(--color-lighter);
        }

        &:disabled {
            background-color: #eee;
        }
    }

    vi-persistent-object-attribute-edit {
        height: var(--theme-h2);
        line-height: var(--theme-h2);
    }

    vi-icon {
        align-self: center;
        margin-right: var(--theme-h5);
        fill: #666;
        cursor: pointer;
        cursor: -moz-grab;
        cursor: -webkit-grab;
        pointer-events: all;

        &[disabled] {
            fill: #aaa;
        }
    }

    &[is-new] {
        vi-icon {
            visibility: hidden;
        }

        input {
            border-style: dashed;
        }

        vi-persistent-object-attribute-edit {
            border: none !important;
        }
    }

    &[is-read-only] {
        vi-icon {
            display: none;
        }

        input {
            background-color: var(--theme-read-only);
        }
    }
}