:host {   
    display: grid;
    position: relative;
    width: initial;
    height: var(--vi-query-grid-row-height);
    line-height: var(--vi-query-grid-row-height);
    min-width: 100%;
    overflow: visible;
    white-space: nowrap;
    background-color: white;

    &:nth-of-type(even) > ::slotted(.column),
    &:nth-of-type(even) > .pinned {
        background-color: var(--vi-query-grid-row-even-color, white);
    }

    &:nth-of-type(odd) {
        &, ::slotted(.column), .pinned {
            background-color: var(--vi-query-grid-row-odd-color, #FAFAFA);
        }

        &.loading {
            &, ::slotted(.column), .pinned {
                background-color: var(--vi-query-grid-row-odd-color, #FCFCFC);
            }
        }
    }

    &:not(.loading):hover {
        cursor: pointer;

        &, ::slotted(.column), .pinned {
            background-color: var(--color-semi-faint);
        }
    }

    .pinned {
        transform: translateX(var(--vi-query-grid-horizontal));
        z-index: 0;
    }

    .reorder {
        pointer-events: all;
        cursor: grabbing;
    }

    .selector, .actions, .reorder {
        &:hover {
            > vi-icon {
                background-color: rgba(0, 0, 0, 0.05) !important;
            }
        }

        > vi-icon {
            width: var(--vi-query-grid-row-height);
            height: var(--vi-query-grid-row-height);
        }
    }

    &.loading {
        .selector, .actions, ::slotted(.column) {
            visibility: hidden;
        }
    }

    &.hidden {
        display: none !important;
    }

    &.disabled, &.readonly {
        .selector, .actions {
            visibility: hidden;
            pointer-events: none;
        }
    }

    &.disabled {
        cursor: default;
    }

    &[initializing] {
        &[is-group], .pinned {
            display: none !important;
        }
    }

    &[is-group] {
        grid-template-columns: 1fr !important;

        ::slotted(.column), .pinned {
            display: none;
        }
    }

    &:not([is-group]) ::slotted([slot="group"]) {
        display: none;
    }

    [part="groupspacer"], [part="filter"] {
        display: none;
        width: var(--vi-query-grid-row-height);
    }

    vi-popup[open] {
        z-index: 10;
    }
}