:host {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    user-select: none;
    --vi-query-grid-row-height: var(--theme-h2);

    &[initializing] {
        header, vi-scroller {
            visibility: hidden;
        }

        vi-query-grid-row {
            display: contents;
        }

        .filler {
            display: none;
        }
    }

    vi-scroller {
        flex: 1;
        min-height: 0;
        min-width: 0;
    }

    [grid] {
        display: grid;
        grid-template-columns: var(--vi-query-grid-columns);
    }

    header {
        display: flex;
        position: relative;
        z-index: 1;
        border-bottom: 1px solid var(--theme-light-border);

        [grid] {
            margin-left: calc(var(--vi-query-grid-horizontal, 0) * -1);
        }

        .controls {
            display: grid;
            background-color: white;
            position: relative;
            z-index: 1;

            .reorder, .spacer {
                display: none;
                min-width: var(--vi-query-grid-row-height);
                height: var(--vi-query-grid-row-height);
            }

            .reorder {
                grid-area: reorder;
            }

            .spacer {
                grid-area: spacer;
            }

            vi-query-grid-grouping {
                grid-area: grouping;
            }

            vi-query-grid-select-all {
                grid-area: select;
            }

            vi-query-grid-filters {
                grid-area: filter;
                line-height: var(--vi-query-grid-row-height);
            }
        }

        .more {
            position: absolute;
            background-color: rgba(255, 255, 255, .75);
            z-index: 1;

            > vi-button {
                width: var(--theme-h2);
                height: var(--theme-h2);
            }

            &.left {
                left: 0;
            }

            &.right {
                right: 0;
            }
        }
    }

    .physical-upper-limit-exceeded {
        display: flex;
        height: var(--vi-query-grid-row-height);
        line-height: var(--vi-query-grid-row-height);
        padding-left: calc(var(--vi-query-grid-controls-width, 0) + var(--theme-h5));
    }

    footer {
        padding-left: var(--vi-query-grid-controls-width, 0);

        vi-query-grid-footer {
            margin-left: calc(var(--vi-query-grid-horizontal, 0) * -1);
        }
    }

    vi-spinner[hidden] {
        display: none !important;
    }

    // Selected row styles
    vi-query-grid-row[selected] {
        background: var(--color-semi-faint);
        --vi-query-grid-row-odd-color: var(--color-semi-faint);
        --vi-query-grid-row-even-color: var(--color-semi-faint);

        // Top border for selected rows not preceded by another selected row
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            content: "";
            height: 1px;
            background-color: var(--color-lighter);
            z-index: 999;
        }

        // Bottom border for all selected rows
        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            content: "";
            height: 1px;
            background-color: var(--color-lighter);
        }
    }

    // Hide top border when a selected row is preceded by another selected row
    vi-query-grid-row[selected] + vi-query-grid-row[selected]::before {
        display: none;
    }

    // Hide top border for the first row when selected
    vi-query-grid-row[selected]:first-of-type::before {
        display: none;
    }

    &:not([can-filter]) {
        vi-query-grid-column-header::part(filter) {
            display: none;
        }
    }

    &:not([can-select]) {
        vi-query-grid-row::part(selector) {
            display: none;
        }
    }

    &:not([inline-actions]) {
        vi-query-grid-row::part(actions) {
            display: none;
        }
    }

    // None
    &:not([can-select]):not([can-filter]):not([inline-actions]) {
        .controls {
            grid-template-areas: none;
        }

        vi-query-grid-row {
            grid-template-columns: var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
        }

        &[has-grouping] {
            .controls {
                grid-template-areas: "grouping";
            }
            
            vi-query-grid-row {
                grid-template-columns: repeat(1, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));

                &::part(groupspacer) {
                    display: block;
                }
            }
        }

        &[can-reorder] {
            .controls {
                grid-template-areas: "reorder";

                .reorder {
                    display: block;
                }
            }

            vi-query-grid-row {
                grid-template-columns: repeat(1, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
            }
        }
    }

    // Select
    &[can-select]:not([can-filter]):not([inline-actions]) {
        .controls {
            grid-template-areas: "select";
        }

        vi-query-grid-row {
            grid-template-columns: auto var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
        }

        &[has-grouping] {
            .controls {
                grid-template-areas: "grouping select";
            }

            vi-query-grid-row {
                grid-template-columns: repeat(2, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));

                &::part(groupspacer) {
                    display: block;
                }
            }
        }

        &[can-reorder] {
            .controls {
                grid-template-areas: "reorder select";

                .reorder {
                    display: block;
                }
            }
    
            vi-query-grid-row {
                grid-template-columns: repeat(2, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
            }
        }
    }

    // Filter
    &:not([can-select])[can-filter]:not([inline-actions]) {
        .controls {
            grid-template-areas: "spacer" "filter";

            .spacer {
                display: block;
                border-bottom: 1px solid var(--theme-light-border);
            }
        }

        vi-query-grid-row {
            grid-template-columns: repeat(1, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));

            &::part(actions) {
                display: none;
            }

            &::part(filter) {
                display: block;
            }
        }

        &[has-grouping] {
            .controls {
                grid-template-areas: "spacer spacer" "grouping filter";
            }

            vi-query-grid-row {
                grid-template-columns: repeat(2, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
            
                &::part(groupspacer) {
                    display: block;
                }
            }
        }

        &[can-reorder] {
            .controls {
                grid-template-areas: "spacer spacer" "reorder filter";

                .reorder {
                    display: block;
                }
            }

            vi-query-grid-row {
                grid-template-columns: repeat(2, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
            }
        }
    }

    // Inline actions
    &:not([can-select]):not([can-filter])[inline-actions] {
        .controls {
            grid-template-areas: "spacer";

            .spacer {
                display: block;
            }
        }

        vi-query-grid-row {
            grid-template-columns: repeat(1, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
        }

        &[has-grouping] {
            .controls {
                grid-template-areas: "grouping spacer";
            }

            vi-query-grid-row {
                grid-template-columns: repeat(2, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));

                &::part(groupspacer) {
                    display: block;
                }
            }
        }

        &[can-reorder] {
            .controls {
                grid-template-areas: "reorder spacer";

                .reorder {
                    display: block;
                }
            }

            vi-query-grid-row {
                grid-template-columns: repeat(2, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
            }
        }
    }

    // Select + Filter
    &[can-select][can-filter]:not([inline-actions]) {
        .controls {
            grid-template-areas: "spacer spacer" "select filter";

            .spacer {
                display: block;
                border-bottom: 1px solid var(--theme-light-border);
            }
        }

        vi-query-grid-row {
            grid-template-columns: repeat(2, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));

            &::part(filter) {
                display: block;
            }
        }

        &[has-grouping] {
            .controls {
                grid-template-areas: "spacer spacer spacer" "grouping select filter";
            }

            vi-query-grid-row {
                grid-template-columns: repeat(3, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));

                &::part(groupspacer) {
                    display: block;
                }
            }
        }

        &[can-reorder] {
            .controls {
                grid-template-areas: "spacer spacer spacer" "reorder select filter";

                .reorder {
                    display: block;
                }
            }

            vi-query-grid-row {
                grid-template-columns: repeat(3, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
            }
        }
    }

    // Select + Inline actions
    &[can-select]:not([can-filter])[inline-actions] {
        .controls {
            grid-template-areas: "select spacer";

            .spacer {
                display: block;
            }
        }
        
        vi-query-grid-row {
            grid-template-columns: repeat(2, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
        }

        &[has-grouping] {
            .controls {
                grid-template-areas: "grouping select spacer";
            }

            vi-query-grid-row {
                grid-template-columns: repeat(3, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
            
                &::part(groupspacer) {
                    display: block;
                }
            }
        }

        &[can-reorder] {
            .controls {
                grid-template-areas: "reorder select spacer";

                .reorder {
                    display: block;
                }
            }

            vi-query-grid-row {
                grid-template-columns: repeat(3, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
            }
        }
    }

    // Select + Filter + Inline actions
    &[can-select][can-filter][inline-actions] {
        .controls {
            grid-template-areas: "spacer spacer" "select filter";
            
            .spacer {
                display: block;
                border-bottom: 1px solid var(--theme-light-border);
            }
        }

        vi-query-grid-row {
            grid-template-columns: repeat(2, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));

            &::part(filter) {
                display: none;
            }
        }

        &[has-grouping] {
            .controls {
                grid-template-areas: "spacer spacer spacer" "grouping select filter";
            }

            vi-query-grid-row {
                grid-template-columns: repeat(3, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));

                &::part(groupspacer) {
                    display: block;
                }

                &::part(filter) {
                    display: none;
                }
            }
        }

        &[can-reorder] {
            .controls {
                grid-template-areas: "spacer spacer spacer" "reorder select filter";

                .reorder {
                    display: block;
                }
            }

            vi-query-grid-row {
                grid-template-columns: repeat(3, var(--vi-query-grid-row-height)) var(--vi-query-grid-columns-no-data, var(--vi-query-grid-columns));
            }
        }
    }
}