@import "../_vars.scss";

:host {
    @include layout-horizontal();
    @include relative();

    #popup {
        position: fixed;
        visibility: hidden;
        background-color: white;
        opacity: 0;
        transition: opacity 0.1s ease-out;
        overflow: visible;
        padding: 1px;
        @include z-index1();
    }

    &[open] #popup {
        visibility: visible;
        opacity: 1;
        z-index: 11;
    }
}

#anchor {
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}