@import "../_vars.scss";

:host {
    @include layout-horizontal();
    @include relative();

    > [toggle] {
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;

        > vi-icon {
            display: block;

            > span {
                white-space: nowrap;
                display: block;
            }
        }
    }

    > #content {
        position: fixed;
        visibility: hidden;
        background-color: white;
        opacity: 0;
        transition: opacity 0.1s ease-out;
        @include z-index1();
    }

    &[open] {
        > #content {
            visibility: visible;
            opacity: 1;
            z-index: 11;
        }
    }
}