:host {
    display: block;
    max-height: unset !important;
    bottom: 0;

    &:not([is-phone]) {
        vi-side-pane-core {
            box-shadow: -5px 0px 10px -5px #000000;
            width: 40rem;
        }
    }

    &[is-phone] {
        vi-side-pane-core {
            width: 100vw;
        }
    }
}