@import "../../../_vars.scss";

:host {
    @include layout-horizontal();
    @include relative();
    outline: none;

    img {
        position: absolute;
        max-height: 100%;
        max-width: 100%;

        &[can-open] {
            cursor: zoom-in;
        }
    }

    .image-container {
        padding: var(--theme-h5);
    }

    .browse {
        input {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            padding: 0;
            margin: 0;
            border: 0;
            cursor: pointer;
        }
    }
}