@import "../_vars.scss";

:host {
    display: flex;
    flex: 1;
    min-height: 0;
    min-width: 0;
    line-height: var(--theme-h2);

    .box {
        display: flex;
        justify-content: space-between;
        flex: 1;
        min-height: 0;
        min-width: 0;
        position: relative;
        background-color: white;
        line-height: calc(var(--theme-h2) - 2px);
        border: 1px solid var(--theme-light-border);
        box-sizing: border-box;
    }

    &[read-only] {
        .box {
            background-color: var(--theme-read-only);
        }

        .box {
            .buttons {
                background-color: transparent;
            }
        }
    }

    &[has-error] {
        .box {
            border-color: var(--theme-color-error) !important;
            overflow: hidden;

            &::before {
                position: absolute;
                inset: 0;
                content: " ";
                opacity: 0.05;
                background-color: var(--theme-color-error);
                pointer-events: none;
            }
        }
    }

    .box[disabled] {
        background-color: #eee;
        cursor: default;
        pointer-events: none;

        .extras {
            background-color: #eee;
        }

        ::slotted(*) {
            opacity: 0.5;

            &::before {
                border-left-color: var(--theme-light-border);
            }
        }
    }

    .box {
        > ::slotted(*) {
            flex: 1;
            min-height: 0;
            min-width: 0;
        }

        .extras {
            position: relative;
            background-color: white;

            ::slotted(*), .action {
                position: relative;
                outline: none;
                cursor: pointer;
                width: calc(var(--theme-h2) - 2px);
                height: calc(var(--theme-h2) - 2px);
                line-height: calc(var(--theme-h2) - 2px);
                padding: 0;
                box-sizing: content-box;
                text-align: center;
                @include theme-color-button-inverse();
                transition: background-color 0.1s ease-out;

                &::after {
                    position: absolute;
                    bottom: -1px;
                    left: 3px;
                    right: 4px;
                    content: " ";
                    border-bottom: 1px solid var(--theme-light-border);
                    transition: all 0.1s ease-in-out;
                }

                &::before {
                    position: absolute;
                    top: 4px;
                    bottom: 4px;
                    content: " ";
                    transition: all 0.1s ease-in-out;
                }

                vi-icon {
                    width: calc(var(--theme-h2) - 2px);
                    height: calc(var(--theme-h2) - 2px);
                }
            }

            ::slotted(*:hover), .action:hover {
                background-color: var(--color-faint);
            }

            ::slotted(*:active), .action:active {
                background-color: var(--color-dark) !important;
                --vi-icon-fill: white;
            }

            &:hover {
                ::slotted(*), .action {
                    &::after {
                        left: 0;
                        right: 0;
                    }
        
                    &::before {
                        top: 0;
                        bottom: 0;
                    }
                }
            }

            &.left {
                ::slotted(*)::before, .action::before {
                    right: 0;
                    border-right: 1px solid var(--theme-light-border);
                }
            }

            &.right {
                ::slotted(*)::before, .action::before {
                    left: 0;
                    border-left: 1px solid var(--theme-light-border);
                }
            }

            &.left, &.right {
                display: flex;
            }
        }
    }

    .box {
        .extras {
            ::slotted(*::part(popup)) {
                background-color: yellowgreen;
            }

            ::slotted(*)::part(icon) {
                background-color: yellow;
            }
        }
    }

    &:focus-within {
        .box {
            border-color: var(--color-lighter);

            .extras {
                ::slotted(*), .action {
                    --vi-icon-fill: var(--color);
                }

                ::slotted(*:hover), .action:hover {
                    background-color: var(--color);
                    --vi-icon-fill: white !important;
                }

                ::slotted(*)::after, ::slotted(*)::before, .action::after, .action::before {
                    border-color: var(--color-lighter);
                }
            }
        }
    }
}