@import "../../../_vars.scss";

:host {
    @include layout-horizontal();

    &[editing] {
        [slot="content"] {
            @include layout-horizontal();
        }

        vi-masked-input {
            display: inline-block;
            border: none;
            height: calc(var(--theme-h2) - 2px);
            line-height: calc(var(--theme-h2) - 2px);
            width: auto;

            &:not([hidden]) + input {
                padding-left: 0;
            }

            &:last-of-type:not([hidden]), &[flex] {
                @include flex();
            }
        }

        &[is-invalid] {
            vi-masked-input::part(input), span#monthMode {
                color: red;
            }
        }
    }

    span, vi-masked-input {
        color: var(--vi-persistent-object-attribute-foreground, var(--theme-foreground));
    }

    span#monthMode {
        padding: 0 var(--theme-h5);
        cursor: default;
    }

    :is(vi-time-picker, vi-date-picker)::part(icon) {
        width: calc(var(--theme-h2) - 2px);
        height: calc(var(--theme-h2) - 2px);
    }
}