@import "../_vars.scss";

:host {
    display: flex;
    position: relative;

    > * {
        flex: 1;
        min-height: 0;
        min-width: 0;
    }

    &:focus {
        outline: none !important;
    }

    ::slotted(*) {
        flex: 1;
        min-height: 0;
        min-width: 0;
    }
}