:host {
    display: block;
    height: var(--_vi-select-item-height);
    line-height: var(--_vi-select-item-height);
    padding-left: var(--theme-h3);
    cursor: pointer;
}

:host(:hover) {
    background-color: var(--color-faint);
}

:host([suggested]), :host([selected]) {
    color: white;
    background-color: var(--color);
}

:host([suggested]:hover), :host([selected]:hover) {
    background-color: var(--color-light);
}

::slotted(.match) {
    background-color: rgba(255, 255, 0, 0.5);
    font-weight: bold;
}
