:host {
    display: block;
    position: relative;
    line-height: var(--theme-h1);
    height: var(--theme-h1);
    user-select: none;

    vi-overflow::part(button) {
        width: var(--theme-h1);

        &:hover{
            background-color: var(--color-faint);
        }
    }
}