:host {
    display: flex;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

    vi-app-route-presenter {
        display: flex;
        flex: 1;
        min-width: 0;

        > vi-app-route, > ::slotted(*) {
            flex: 1;
            min-width: 0;
        }
    }
}