@import "../_vars.scss";

:host {
    @include layout-vertical-reverse();
    --vi-persistent-object-master-width: 40%;
    --vi-persistent-object-master-min-width: 5%;
    --vi-persistent-object-master-max-width: 95%;

    vi-action-bar {
        padding-top: 3px;
        border-bottom: 1px solid var(--theme-light-border);
    }

    header {
        @include page-title();
        gap: 4px;

        vi-spinner {
            align-self: center;
        }

        nav {
            display: flex;
            gap: var(--theme-h5);

            vi-button {
                width: var(--theme-h1);
            }
        }
    }

    .tabs {
        background-color: #f1f1f1;
        box-shadow: var(--theme-box-shadow);
    }

    vi-persistent-object-tab-presenter {
        > vi-query-items-presenter {
            @include fit();
        }
    }

    .content {
        .detail {
            vi-persistent-object-tab-presenter {
                margin: 1px 1px 1px 0;
            }
        }
    }

    .tabs {
        height: var(--theme-h1);
    }

    &[layout-master-detail] {
        .tabs > .detail {
            margin-left: 4px;
        }

        #splitter {
            @include noSelection();
            position: relative;
            width: 4px;
            background-color: #f1f1f1;

            &::after {
                position: absolute;
                content: " ";
                width: 7px;
                left: 0;
                top: 0;
                bottom: 0;
                opacity: 0.01;
                background-color: white;
                z-index: 3;
                transform: translateX(-3px);
            }

            cursor: col-resize;
        }

        .master {
            min-width: var(--vi-persistent-object-master-min-width);
            max-width: var(--vi-persistent-object-master-max-width);
            width: var(--vi-persistent-object-master-width);
        }
    }

    &[layout-details-only] {
        .master {
            display: none;
        }

        .detail {
            vi-persistent-object-tab-presenter {
                margin-left: 1px;
            }
        }
    }

    &[layout-full-page] {
        .master {
            @include flex();
        }

        .detail {
            display: none;
        }
    }

    &:not([layout-master-tabs]):not([layout-detail-tabs]) {
        .tabs {
            display: none;
        }

        .content {
            vi-action-bar {
                padding-top: 0;
                z-index: 1;
                box-shadow: var(--theme-box-shadow);
                margin-bottom: 3px;
            }

            vi-persistent-object-tab-presenter {
                z-index: 0;
                margin-left: 1px;
            }
        }
    }

    &:not([layout-master-actions]):not([layout-detail-actions]) {
        .master, .detail {
            vi-action-bar {
                display: none;
            }
        }
    }

    &:not([layout-master-detail]):not([layout-details-only]):not([layout-full-page]) {
        header, .tabs, .content {
            display: none;
        }
    }

    &[loading] {
        > header, > div {
            visibility: hidden;
        }
    }
}