@import "../../../_vars.scss";

:host {
    @include layout-horizontal();

    vi-select {
        border: none;
    }

    span, vi-select::part(input) {
        color: var(--vi-persistent-object-attribute-foreground, var(--theme-foreground));
    }

    span[sensitive] {
        filter: blur(5px);
    }

    #radiobuttons {
        line-height: var(--theme-h2);

        &[orientation="horizontal"] {
            @include layout-horizontal();
            @include layout-wrap();
        }
    }
}