:host {
    display: flex;

    span {
        flex: 1;
        min-height: 0;
        min-width: 0;
        overflow: hidden;
        white-space: nowrap;
    }

    span, input {
        color: var(--vi-persistent-object-attribute-foreground, var(--theme-foreground));
    }
}