@import "../_vars.scss";

:host {
    display: flex;

    &[has-error] {
        align-items: center;
        justify-content: center;
        color: var(--theme-color-error);
        fill: var(--theme-color-error);

        span {
            display: block;
            text-align: center;
            padding: var(--theme-h5) var(--theme-h3);
        }

        vi-icon {
            --vi-icon-width: var(--theme-h1);
            --vi-icon-height: var(--theme-h1);
        }
    }

    ::slotted(*) {
        flex: 1;
        min-height: 0;
        min-width: 0;
    }
}