@import "../_vars.scss";

:host {
    display: block;
    white-space: nowrap;
    color: #222;
    position: relative;
    --vi-persistent-object-attribute-presenter--attribute-height: calc(var(--vi-persistent-object-attribute-presenter--row-height, var(--theme-h2)) * 2 * (var(--vi-persistent-object-attribute-presenter--row-span) - .5));

    #content {
        min-height: var(--vi-persistent-object-attribute-presenter--attribute-height);
    }

    ::slotted(*) {
        @include flex();
    }

    vi-checkbox {
        margin-right: var(--theme-h5);

        &[disabled]::part(icon) {
            background-color: #eee;
        }
    }

    &:focus {
        outline: 0;
    }

    &[developer] {
        #content, vi-persistent-object-attribute-label {
            opacity: 0.2;
        }

        #developer {
            @include fit();
            @include layout-horizontal();
            @include layout-center-center();
            background-color: rgba(255, 255, 255, 0.3);
            border: 1px dashed var(--theme-color-faint);
            cursor: pointer;

            &:hover {
                background-color: var(--theme-color-faint);
            }

            label {
                font-weight: bold;
                color: var(--theme-color-darker);
                pointer-events: none;
            }
        }
    }
}