:host {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    vi-popup, vi-popup-menu {
        display: inline-block;
    }

    vi-button {
        height: var(--theme-h1);
        line-height: var(--theme-h1);
    }
}