@import "../_vars.scss";

:host {
    display: block;
    padding: var(--vi-persistent-object-group--attribute-padding, 0 var(--theme-h4));

    &[loading] {
        visibility: hidden;
    }

    label {
        @include flex();
        display: block;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        padding: var(--theme-h4) var(--theme-h5) 0 0;
        color: var(--color);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &[no-label] label, label:empty {
        display: none;
    }

    #grid {
        display: grid;
        grid-template-areas: var(--vi-persistent-object-group--grid-areas, none);
        grid-auto-columns: 1fr;
        gap: var(--vi-persistent-object-group--attribute-gap, 0 var(--theme-h4));

        ::slotted(*) {
            grid-area: var(--vi-persistent-object-group--attribute-area);
            overflow: hidden;
        }
    }
}