:host {
    display: flex;

    vi-scroller {
        flex: 1;
    }

    textarea {
        flex: 1;
        resize: none;
        white-space: pre-wrap;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    pre, textarea {
        color: var(--vi-persistent-object-attribute-foreground, var(--theme-foreground));
    }

    pre {
        margin: 0;
        font-family: inherit;
        white-space: pre-line;
    }
}
