:host {
    display: flex;
    position: relative;
    outline: none;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    --vi-icon-width: var(--theme-h2);
    --vi-icon-height: auto;

    .icon {
        display: flex;
        align-content: center;
        justify-content: center;
        cursor: pointer;
        aspect-ratio: 1/1;

        &:hover {
            background-color: var(--color-faint);
            fill: var(--color);
        }

        &[selected] {
            background: var(--color-semi-faint);
            fill: var(--color);
        }
    }
}

vi-persistent-object-attribute-edit {
    vi-icon {
        aspect-ratio: 1 / 1;
    }

    .value:has(vi-icon:not([unresolved])) {
        padding-left: var(--theme-h5);
    }
}

.value {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--theme-h5);

    vi-icon:not([unresolved]) + span {
        line-height: var(--theme-h2);
    }

    input.flex {
        flex: 1;
        min-width: 0;
    }
}