@import "../web-components/vars";

:host {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        margin: var(--theme-h2);

        > div {
            overflow: hidden;

            label {
                display: block;
                line-height: var(--theme-h1);
                font-weight: bold;
            }
        }
    }
}